/* RESETS */
* {
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}




/* CLASSE UTILITARIA PARA TER MARGIN AUTO */
.container {
    max-width: 1200px;
    margin: 0 auto;
}




/* HEADER */
.header-bg {
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
}

.logo{
    max-width: 100px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.lista-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
}





/* MAIN */
main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    background-color: var(--bg-color);
}

.titulo-nome {
    font-size: 64px;
    color: #ffffff;
    line-height: 52px;
    font-weight: 700;
}

.subtitulo-nome {
    font-size: 36px;
    color: #5A5A5A;
    font-weight: 500;
}





/* FORMAÇÃO */
.formacao-bg {
    background-color: #181818;
}

.formacao {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 100vh;
}

.cursos-lista {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: flex-start;
    margin-top: 70px;
}

.cursos-lista li {
    background-color: #0B0B0B;
    display: flex;
    flex-direction: column;
    padding: 14px 18px;
    border-radius: 6px;
    font-weight: 700;
    position: relative;
}

.cursos-lista span {
    font-size: 14px;
    color: #646464;
    text-transform: uppercase;
}

.cursos-lista p {
    color: #E7E7E7;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.cursos-lista .detalhe {
    background-color: var(--secundary-color);
    width: 4px;
    height: 48px;
    position: absolute;
    left: -6px;
}

.idiomas {
    position: relative;
    margin-top: 80px;
}

.idiomas .detalhe {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--secundary-color);
    top: 18px;
    left: -12px;
}

.idiomas li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}





/* ´PROJETOS */
.projetos-bg {
    background-color: #272727;
}

.projeto-titulo{
    color: #181818;
    font-size: 120px;
    text-transform: uppercase;
}

.text-p{
    color: #000000;
    font-weight: 300;
    font-size: 24px;

}

.projetos {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.projetos ul {
    display: flex;
    flex-direction: row;
    gap: 65px;
}

.projetos img{
    border: 12px solid #262626;
    border-radius: 3px;
}

.projetos span{
    margin-top: 12px;
    display: inline-block;
    font-weight: 700;
    color: #ffffff;
}





/* FOOTER */
.footer-bg {
    background-color: #181818;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
    padding-bottom: 12px;
    align-items: center;
    padding-top: 80px;
}

.footer h2 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 400;
    flex-grow: 1;
}

.footer ul {
    color: #ffffff;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer span {
    color: var(--primary-color);
    font-size: 16px;
    grid-column: 1 / 3;
    text-align: center;
}




/* CLASSES UTILITÁRIAS PARA MUDAR A COR E TAMANHO DO TEXTO */
.texto-cinza-m {
    color: var(--text-color);
    font-weight: 500;
    font-size: 24px;
    max-width: 40ch;
    line-height: 44px;
}

.texto-cinza-m-regular {
    color: var(--text-color);
    font-weight: 300;
    font-size: 24px;
}

.texto-branco-m {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

.titulo-grande {
    font-size: 120px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.titulo-break {
    word-break: break-all;
    max-width: 3.5ch;
}